.tooltip {
    position: absolute;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


circle:hover {
    cursor: pointer;
}

.tooltip > * {
    margin: 0;
}

.tooltip img {
    width: 7rem;
    grid-row: 2;
    grid-column: 1;
    border-radius: 3px;
    height: 7rem;
    object-fit: cover;
    margin-top: 10px;
}

.tooltip h4:nth-of-type(1) {
    margin-top: 10px;
}

.tooltip h3 {
    font-size: 16px;
    font-weight: lighter;
}

.tooltip h4 {
    font-size: 14px;
    font-weight: lighter;
}

.tooltip .int {
    font-style: normal;
    font-weight: lighter;
}